html {
    min-height: 100%;
}

body {
    display: block;
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    box-shadow: 0 2px 10px hsl(240, 18%, 93%);
}

input {
    padding: 0;
    width: 90%;
    height: 40px;
    border: none;
}

input::placeholder {
    width: 52px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    /* Основные / Серый средний */

    color: #BBC4D6;
}

.logo {
    height: 100%;
    width: 150px;
}

.containerContainerSearch {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerSearch {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 95%;
    border-radius: 5px;
    border: 2px solid hsl(240, 18%, 93%);
}

.containerLogo {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: end;
}

.user {
    display: none;
}

.lupa {
    width: 30px;
    height: 30px;
    border: 5px solid white;
}

.containerContainerPhoto {
    flex-basis: content;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    border-left: 1px solid hsl(240, 18%, 93%);
}

.containerPhoto {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    width: 79px;
    height: 17px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    text-align: right;
    letter-spacing: 0.01em;

    /* Основные / Темно-серый */

    color: #768298;
}
.containerMain{
    position: absolute;
    height: 58px;
    left: 6.94%;
    right: 6.94%;
    top: 150px;
    
}

.parthners {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 160%;
    text-transform: uppercase;
    color: #121920;
}

.containerContainerBlock {
    display: flex;
    flex-wrap: wrap;
}

.containerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 307.5px;
    height: 140px;
}

.block:hover {
    cursor: pointer;
    box-shadow: 0 2px 10px hsl(240, 18%, 93%);
}

.block {

    box-sizing: border-box;

    width: 287.5px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #EBEBF1;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1279px) and (min-width: 375px) {
    .block {
        width: 229px;
    }
    .containerBlock {
        width: 239px;
        height: 130px;
    }

    .logoPart {
        max-height: 60%;
        max-width: 60%;
        /* width: calc(); */
    }
    
.containerMain{
    position: absolute;
    height: 58px;
    left: 2.94%;
    right: 2.94%;
}

}

@media (max-width: 375px) {
    header {
        height: 105px;
        flex-wrap: wrap;
    }

    .containerLogo {
        display: flex;
        justify-content: space-between;
        height: 63px;
        width: 100%;
        border-bottom: 1px solid hsl(240, 18%, 93%);
    }

    .logo {
        height: auto;
    }

    .user {
        display: inline;
        width: 18px;
        height: 20px;
        border-right: 15px solid white;
    }

    .containerSearch {
        border: none;
    }

    .containerContainerPhoto {
        display: none;
    }

    .block {
        width: 335px;
    }
}